#aight-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 777;
  display: none;
  background: rgba(0, 0, 0, 0.4); }

#aight-wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  z-index: 999; }
  #aight-wrapper * {
    -webkit-backface-visibility: hidden; }

#aight-container {
  background: #fff;
  border: 2px solid #888;
  padding: 15px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-box-shadow: 0 0 15px 0px #eee;
  -webkit-box-shadow: 0 0 15px 0px #eee;
  box-shadow: 0 0 15px 0px #eee; }
  #aight-container img {
    max-height: 100%;
    max-width: 100%; }

#aight-description {
  margin: 10px 0 0 0;
  padding: 0; }

#aight-next, #aight-prev, #aight-close {
  position: absolute;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #ddd;
  text-decoration: none; }
  #aight-next:hover, #aight-prev:hover, #aight-close:hover {
    color: #fff; }

#aight-next, #aight-prev {
  font-size: 35px;
  margin-top: -25px; }

#aight-close {
  font-size: 25px; }

#aight-next {
  top: 50%;
  right: 0;
  margin-right: -35px; }

#aight-prev {
  top: 50%;
  left: 0;
  margin-left: -35px; }

#aight-close {
  top: 0;
  right: 0;
  margin-right: -25px;
  margin-top: -25px; }
