// Backdrop
#aight-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 777;
  display: none;
  background: rgba(0,0,0,0.4);
}

// Wrapper
#aight-wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
  *{
    -webkit-backface-visibility:hidden
  }
}

// Image Container
#aight-container {
  background: #fff;
  border: 2px solid #888;
  padding: 15px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  -moz-box-shadow: 0 0 15px 0px #eee;
  -webkit-box-shadow: 0 0 15px 0px #eee;
  box-shadow: 0 0 15px 0px #eee;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

// Image Description
#aight-description {
  margin: 10px 0 0 0;
  padding: 0;
}

// Next Previous Button
#aight-next, #aight-prev, #aight-close {
  position: absolute;
  font-family: 'Helvetica';
  font-weight: bold;
  color: #ddd;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

#aight-next, #aight-prev {
  font-size: 35px;
  margin-top: -25px;
}

#aight-close {
  font-size: 25px;
}

#aight-next {
  top: 50%;
  right: 0;
  margin-right: -35px;
}

#aight-prev {
  top: 50%;
  left: 0;
  margin-left: -35px;
}

#aight-close {
  top: 0;
  right: 0;
  margin-right: -25px;
  margin-top: -25px;
}

#aight-preload {
  display: none;
}

// Spinner from http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
#aight-spinner {

}


@keyframes spin {
  to { transform: rotate(1turn); }
}

.aight-progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}

.small.aight-progress {
  font-size: 6px;
}

.large.aight-progress {
  font-size: 24px;
}

.aight-progress:before,
.aight-progress:after,
.aight-progress > div:before,
.aight-progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.aight-progress:before {
  background: #555;
}

.aight-progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.aight-progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.aight-progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}

